--extra-index-url https://google-coral.github.io/py-repo/
tflite-runtime
opencv-python-headless
numpy
pillow
fastapi
uvicorn
python-multipart
scikit-learn
google-api-python-client
kagglehub
